.app-heroimage {
  height: 34em;
  width: 100%;
  background-color: black;
  margin: 0px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
}
.app-heroimage-content {
  position: relative;
  width: 35em;
  padding-right: 40em;
  margin: auto;
}
.app-heroimage-text {
  position: absolute;
  width: 40em;
  font-family: Abel, sans-serif;
  font-size: 22px;
  bottom: -24em;
  text-justify: justify;
}
