.app-header {
  background-color: #1c1b1b;
  height: 5em;
}
.app-logo {
  width: 15em;
  margin-left: 1%;
  padding: 2%;
}
.app-tmdb-logo {
  width: 6em;
  float: right;
  margin-right: 1%;
  padding: 2%;
}
